<!doctype html>
<html ng-app="tasksApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h2>Tasks</h2>
    <div ng-controller="TaskListController as ctrl">
      <span> {{ ctrl.remaining() }} of {{ ctrl.tasks.length }} remaining</span>
      [ <a href="" ng-click="ctrl.archive()">archive</a> ]
      <ul class="unstyled">
        <li ng-repeat="task in ctrl.tasks">
          <label class="checkbox">
            <input type="checkbox" ng-model="task.done">
            <span class="done-{{task.done}}">{{task.text}}</span>
          </label>
        </li>
      </ul>
      <form ng-submit="ctrl.addTask()">
        <input type="text" ng-model="ctrl.taskText"  size="30"
               placeholder="Type your task">
        <input class="btn-primary" type="submit" value="Add">
      </form>
    </div>
  </body>
</html>
