<!doctype html>
<html ng-app="tasksApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h2>Tasks</h2>
    <div ng-controller="TaskListController as ctrl">
      <span> {{ ctrl.remaining() }} of {{ ctrl.tasks.length }} remaining</span>
      [ <a href="" ng-click="ctrl.archive()">Archive completed</a> ]
      <ul class="unstyled">
        <li ng-repeat="task in ctrl.tasks">
          <label class="checkbox">
            <input type="checkbox" ng-model="task.done" ng-click="ctrl.completeTask(task, task.done)">
            <span class="done-{{task.done}}">{{task.text}}</span>
          </label>
          <br>
          <span>Created date: {{task.createdAt | date: 'dd/MM/yyyy, hh:mm:ss a'}}</span>
          <br>
          <span>Completed Date: {{task.completedAt | date: 'dd/MM/yyyy, hh:mm:ss a'}}</span>
        </li>
      </ul>
      <form ng-submit="ctrl.addTask()">
        <input type="text" ng-model="ctrl.taskText"  size="30"
               placeholder="Type your task">
        <input class="btn-primary" type="submit" value="Add">
      </form>
      <br>
      <label class="checkbox">
        <input type="checkbox" ng-model="ctrl.showArchives">
        <span>Display completed tasks [{{ctrl.archives.length}}]</span>
      </label>
      <div class="archives" ng-show="ctrl.showArchives">
        <ul class="unstyled">
          <li ng-repeat="archivedTask in (ctrl.archives | orderBy: 'completedAt':true )">
            <span class="done-{{archivedTask.done}}">{{archivedTask.text}}</span>
            &nbsp;&nbsp;<a href="#?" ng-click="ctrl.removeCompleted(archivedTask)">remove</a>
            <br>
            <span>Created date: {{archivedTask.createdAt | date: 'dd/MM/yyyy, hh:mm:ss a'}}</span>
            <br>
            <span>Completed Date: {{archivedTask.completedAt | date: 'dd/MM/yyyy, hh:mm:ss a'}}</span>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
